---
BasedOnStyle: WebKit

AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
PointerAlignment: Right
SortIncludes: false
SpacesBeforeTrailingComments: "1"
